.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: rgb(43, 43, 61);
  color: white;
}

.input-form {
  padding: 3rem;
}

.city-input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.6rem;
}

.btn {
  color: white;
  background-color: rgb(61, 187, 99);
  height: 1.5rem;
  width: 16rem;
  border-radius: 0.6rem;
  box-shadow: 3px 15px 4px -5px rgba(0, 0, 0, 0.75);
}

.temperature {
  font-size: 4rem;
}

.sup-c {
  font-size: 1.4rem;
  position: relative;
  vertical-align: top;
  top: 0.3rem;
}

.data-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
